doctype html
html(lang='en')
head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')  
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no')  
    title Party Rock
    // CSS
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet') 
    link(href='materialize/dist/css/materialize.min.css', type='text/css', rel='stylesheet', media='screen,projection')
    link(href='materialize/templates/parallax-template/css/style.css', type='text/css', rel='stylesheet', media='screen,projection')
  body
    nav.white(role='navigation')
      .nav-wrapper.container
        a#logo-container.brand-logo(href='#') Logo     
        ul.right.hide-on-med-and-down
          li
            a(href='#') Sign in 
        ul.right.hide-on-med-and-down
          li
            a(href='#') Register      
        a.button-collapse(href='#', data-activates='nav-mobile')
          i.material-icons menu
    block content
      block new_content
        footer.page-footer.red
          .container
            .row
              .col.l6.s12
                h5.white-text Company Bio          
                p.grey-text.text-lighten-4
                  | We are a team of college students working on this project like it&apos;s our full time job. Any amount would help support and continue development on this project and is greatly appreciated.       
              .col.l6.s12
                h5.white-text Settings          
                p.grey-text.text-lighten-4
                  | We are a team of college students working on this project like it&apos;s our full time job. Any amount would help support and continue development on this project and is greatly appreciated.
          
          .footer-copyright
            .container
              | Made by 
              a.brown-text.text-lighten-3(href='http://materializecss.com') Materialize
block scripts
    block new_scripts