extends layout
//link href= "materialize/dist/css/materialize.min.css"
block content
    #index-banner.parallax-container
      .section.no-pad-bot
        .container
          .slider
            ul.slides
              li
                img(src='http://lorempixel.com/580/250/nature/1')  
              li
                img(src='http://lorempixel.com/580/250/nature/2')
              li
                img(src='http://lorempixel.com/580/250/nature/3')    
              li
                img(src='http://lorempixel.com/580/250/nature/4')
    .container
      .section
        // Icon Section
        input.datepicker(type='date')
      .row.center
            a#download-button.btn-large.waves-effect.waves-light.blue.lighten-1(href='http://materializecss.com/getting-started.html') Rentar
    