extends layout
//link href= "materialize/dist/css/materialize.min.css"
block content
    #index-banner.parallax-container
      .section.no-pad-bot
        .container
          br
          br
          |         
          h1.header.center.blue-text.text-lighten-2 Party Rock
          |         
          .row.center
            h5.header.col.s12.light Nosotros armamos la fiesta, solamente trae las ganas
          |         
          .row.center
            a#download-button.btn-large.waves-effect.waves-light.blue.lighten-1(href='http://materializecss.com/getting-started.html') Explora
          |         
          br
          br
      |     
      .parallax
        img(src='images/background1.jpg', alt='Unsplashed background img 1')
    |   
    .container
      .section
        // Icon Section
        .row
          .col.s12.m4
            .icon-block
              h2.center.red-text
                i.material-icons flash_on
              |             
              h5.center Encuentra casa en minutos
              |             
              p.light
                | Te ahorramos la molestia de encontrar un lugar donde armar tu fiesta. Aqui podras negociar con alguien dispuesto a rentar.
          |         
          .col.s12.m4
            .icon-block
              h2.center.red-text
                i.material-icons group
              |             
              h5.center Nadie olvidara tu fiesta
              |             
              p.light
                | Nos preocupamos porque encuentres el lugar que mejor se acomode a lo que quieres.
          |         
          .col.s12.m4
            .icon-block
              h2.center.red-text
                i.material-icons settings
              |             
              h5.center Diviertete
              |             
              p.light
                | Contamos con los mejores lugares de la ciudad a tu disposicion.
    |   
    .parallax-container.valign-wrapper
      .section.no-pad-bot
        .container
          .row.center
            h5.header.col.s12.light A modern responsive front-end framework based on Material Design
      |     
      .parallax
        img(src='images/background3.jpg', alt='Unsplashed background img 3')
    |   
    footer.page-footer.red
      .container
        .row
          .col.l6.s12
            h5.white-text Company Bio
            |           
            p.grey-text.text-lighten-4
              | We are a team of college students working on this project like it&apos;s our full time job. Any amount would help support and continue development on this project and is greatly appreciated.
          |         
          .col.l6.s12
            h5.white-text Settings
            |           
            p.grey-text.text-lighten-4
              | We are a team of college students working on this project like it&apos;s our full time job. Any amount would help support and continue development on this project and is greatly appreciated.
          |          
      .footer-copyright
        .container
          | Made by 
          a.brown-text.text-lighten-3(href='http://materializecss.com') Materialize
    // Scripts
    script(src='https://code.jquery.com/jquery-2.1.1.min.js')
    |   
    script(src='materialize/dist/js/materialize.min.js')
    |   
    script(src='materialize/templates/parallax-template/js/init.js')