extends base_with_navbar
//link href= "materialize/dist/css/materialize.min.css"
block content
  #index-banner.parallax-container
    .section.no-pad-bot
      .container
        .slider
          ul.slides
            li
              img(src='http://lorempixel.com/580/250/nature/1')  
            li
              img(src='http://lorempixel.com/580/250/nature/2')
            li
              img(src='http://lorempixel.com/580/250/nature/3')    
            li
              img(src='http://lorempixel.com/580/250/nature/4')
        // Dropdown Trigger
  a.dropdown-button.btn(data-beloworigin='false', href='#', data-activates='dropdown1') Location 
  ul#dropdown1.dropdown-content
    li
      a(href='#!') one   
    li.divider 
    li
      a(href='#!') two  
    li.divider     
    li
      a(href='#!') three
  .container
    .section
      // Icon Section
      .row
        .col.s12.m4
          .icon-block
            h2.center.red-text
              i.material-icons flash_on          
            h5.center Alberca
        .col.s12.m4
          .icon-block
            h2.center.red-text
              i.material-icons group
            h5.center Alcohol y cigarrillos
     
        .col.s12.m4
          .icon-block
            h2.center.red-text
              i.material-icons surround_sound           
            h5.center Musica
      .row
        .col.s12.m4
          .icon-block
            h2.center.red-text
              i.material-icons query_builder        
            h5.center Horario Flexible
        .col.s12.m4
          .icon-block
            h2.center.red-text
              i.material-icons settings_remote
            h5.center WiFi
     
        .col.s12.m4
          .icon-block
            h2.center.red-text
              i.material-icons delete           
            h5.center Servicio de Limpieza
      .row.center
        a#download-button.btn-large.waves-effect.waves-light.blue.lighten-1(href='http://materializecss.com/getting-started.html') Rentar
