extends base_with_navbar
block content
  #index-banner.parallax-container
    .section.no-pad-bot
      .container
        .row
          .col.s12.m4.l4
            .input-field.col.s12
              select
                  option(value='', disabled='', selected='') Choose your option      
                  option(value='1') Option 1    
                  option(value='2') Option 2
                  option(value='3') Option 3 
              label Colonia  
              select.browser-default
                option(value='', disabled='', selected='') Choose your option    
                option(value='1') Option 1      
                option(value='2') Option 2     
                option(value='3') Option 3 
              form(action='#')
                p.range-field
                  input#test5(type='range', min='0', max='100')    
              form(action='#')
                p.range-field
                  input#test5(type='range', min='0', max='100')    
          .col.s12.m8.l15
            ul.collection
            li.collection-item 
              .row
                .col.s12.m7
                  .card.large
                    .card-image.waves-effect.waves-block.waves-light
                        img.activator(src='images/casa-chida-3.jpg')
                      .card-content
                        span.card-title.activator.grey-text.text-darken-4
                          | Card Title
                          i.material-icons.right more_vert      
                        p
                        a(href='#') This is a link
                      .card-reveal
                        span.card-title.grey-text.text-darken-4
                          | Card Title
                          i.material-icons.right close      
                        p
                        | Here is some more information about this product that is only revealed once clicked on.            
            li.collection-item 
              .row
                .col.s12.m7
                  .card.large
                    .card-image.waves-effect.waves-block.waves-light
                        img.activator(src='images/casa-chida-3.jpg')
                      .card-content
                        span.card-title.activator.grey-text.text-darken-4
                          | Card Title
                          i.material-icons.right more_vert      
                        p
                        a(href='#') This is a link
                      .card-reveal
                        span.card-title.grey-text.text-darken-4
                          | Card Title
                          i.material-icons.right close      
                        p
                        | Here is some more information about this product that is only revealed once clicked on.
            li.collection-item 
              .row
                .col.s12.m7
                  .card.large
                    .card-image.waves-effect.waves-block.waves-light
                        img.activator(src='images/casa-chida-3.jpg')
                      .card-content
                        span.card-title.activator.grey-text.text-darken-4
                          | Card Title
                          i.material-icons.right more_vert      
                        p
                        a(href='#') This is a link
                      .card-reveal
                        span.card-title.grey-text.text-darken-4
                          | Card Title
                          i.material-icons.right close      
                        p
                        | Here is some more information about this product that is only revealed once clicked on.
       