extends layout
block content
    #index-banner.parallax-container
      .parallax
        img(src='images/casa-chida-1.jpg', alt='Unsplashed background img 1')  
    .container
      .section
        // Icon Section
        .row
          .col.s12.m4
            .icon-block
              h2.center.red-text
                i.material-icons flash_on          
              h5.center Alberca
          .col.s12.m4
            .icon-block
              h2.center.red-text
                i.material-icons group
              h5.center Alcohol y cigarrillos
     
          .col.s12.m4
            .icon-block
              h2.center.red-text
                i.material-icons surround_sound           
              h5.center Musica
        .row
          .col.s12.m4
            .icon-block
              h2.center.red-text
                i.material-icons query_builder        
              h5.center Horario Flexible
          .col.s12.m4
            .icon-block
              h2.center.red-text
                i.material-icons settings_remote
              h5.center WiFi
     
          .col.s12.m4
            .icon-block
              h2.center.red-text
                i.material-icons delete           
              h5.center Servicio de Limpieza
        
        google-map(latitude="37.790" longitude="-122.390")
          google-map-marker(latitude="37.777", longitude="-122.38911")
      .row.center
            a#download-button.btn-large.waves-effect.waves-light.blue.lighten-1(href='/confirm') Rentar
    script(src='https://code.jquery.com/jquery-2.1.1.min.js')  
    script(src='materialize/dist/js/materialize.min.js')
    script(src='materialize/templates/parallax-template/js/init.js')